<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="campground[location]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price <small>(by Night)</small></label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input name="campground[price] type="text" class="form-control" id="price" placeholder="0.0" aria-label="price" aria-describedby="price-label">
        </div>
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
        /> </textarea>
      </div>
      <button class="btn btn-success mb-3">Add Campground</button>
    </form>
    <a class="btn btn-primary" href="/campgrounds">Back to campground list</a>
  </div>
</div>
